/* animations */
/* responsive */
/* colors */
@font-face {
  font-family: "HelveticaLight";
  src: url("assets/HelveticaLTStd-Light.otf");
}
@font-face {
  font-family: "HelveticaBold";
  src: url("assets/HelveticaLTStd-Bold.otf");
  font-weight: bold;
}
body {
  background-color: white;
  font-family: "HelveticaLight";
  width: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: #1a7c89;
  text-decoration: none;
}

button, input[type=submit], input[type=reset] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  outline: inherit;
  font-family: inherit;
  font-size: inherit;
}

.intro {
  width: 100%;
  background-color: #d1f2f7;
  height: 120vh;
}
.intro .boxOne {
  width: 60vw;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 576px) {
  .intro .boxOne {
    flex-direction: column-reverse;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .intro .boxOne {
    width: 80vw;
  }
}
.intro .boxOne .textHead {
  margin-top: 35vh;
}
@media (max-width: 576px) {
  .intro .boxOne .textHead {
    margin-top: 19vh;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .intro .boxOne .textHead {
    margin-top: 30vh;
  }
}
.intro .boxOne .textHead h1 {
  font-family: "HelveticaBold";
  font-size: 5rem;
  color: #1a7c89;
}
.intro .boxOne .textHead h3 {
  font-family: "HelveticaLight";
  margin-top: -15px;
  margin-left: 5px;
}
@media (max-width: 576px) {
  .intro .boxOne .textHead h3 {
    font-size: 0.9rem;
  }
}
.intro .boxOne .textHead .myLinks .fa-brands {
  font-size: 1.5rem;
  padding: 5px;
}
.intro .boxOne .textHead .myLinks .fa-brands:hover {
  color: #4ab4c2;
}
.intro .boxOne .topImg #me {
  margin-top: 10vh;
  width: 37rem;
}
@media (max-width: 576px) {
  .intro .boxOne .topImg #me {
    margin-top: 15vh;
    width: 15rem;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .intro .boxOne .topImg #me {
    margin-top: 19vh;
    width: 20rem;
  }
}
.intro .deco #wave1 {
  width: 214px;
  position: absolute;
  margin-left: 380px;
  margin-top: -143px;
}
@media (max-width: 576px) {
  .intro .deco #wave1 {
    display: none;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .intro .deco #wave1 {
    display: none;
  }
}
.intro .deco #wave2 {
  width: 350px;
  position: absolute;
  right: 0;
  margin-right: 50px;
  margin-top: -345px;
}
@media (max-width: 576px) {
  .intro .deco #wave2 {
    margin-top: -270px;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .intro .deco #wave2 {
    margin-top: 20px;
  }
}
.intro .deco #wave3 {
  width: 200px;
  opacity: 0.5;
  position: absolute;
  right: 0;
  margin-top: -290px;
  margin-right: 86px;
}
@media (max-width: 576px) {
  .intro .deco #wave3 {
    margin-top: -220px;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .intro .deco #wave3 {
    margin-top: 80px;
  }
}
.intro .deco #wave4 {
  width: 500px;
  opacity: 0.8;
  position: absolute;
  top: 0;
  margin-left: -10px;
  margin-top: 45px;
}

/* ANIMATION */
@-webkit-keyframes rollingwaves {
  0% {
    transform: translateX(-70%);
  }
  100% {
    transform: translateX(0%);
  }
}
@-moz-keyframes rollingwaves {
  0% {
    transform: translateX(-70%);
  }
  100% {
    transform: translateX(0%);
  }
}
@-ms-keyframes rollingwaves {
  0% {
    transform: translateX(-70%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes rollingwaves {
  0% {
    transform: translateX(-70%);
  }
  100% {
    transform: translateX(0%);
  }
}

/* IN BETWEEN */
.between {
  width: 100%;
  overflow-x: hidden;
}
.between .waves {
  background-image: url(assets/wave.png);
  background-repeat: repeat-x;
  position: relative;
  height: 59px;
  width: 300%;
  animation: rollingwaves 1s linear;
  animation-delay: calc(var(--scroll) * -1s);
  animation-play-state: paused;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

/* SKILLS PAGE */
.skills {
  background-color: #1a7c89;
  width: 100%;
  height: 100vh;
  color: white;
}
@media (max-width: 576px) {
  .skills {
    height: 145vh;
  }
}
.skills .deco #wave5 {
  width: 428px;
  position: absolute;
  margin-top: 133px;
  margin-left: -135px;
}
@media (max-width: 576px) {
  .skills .deco #wave5 {
    width: 235px;
    margin-top: 148px;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .skills .deco #wave5 {
    width: 205px;
    margin-top: 150px;
  }
}
.skills .deco #wave6 {
  width: 200px;
  position: absolute;
  right: 0;
  margin-right: 34vw;
  margin-top: 82vh;
  opacity: 0.8;
}
@media (max-width: 576px) {
  .skills .deco #wave6 {
    display: none;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .skills .deco #wave6 {
    width: 170px;
  }
}
.skills .deco #wave7 {
  width: 350px;
  position: absolute;
  right: 0;
  margin-right: 19vw;
  margin-top: 88vh;
}
@media (max-width: 576px) {
  .skills .deco #wave7 {
    display: none;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .skills .deco #wave7 {
    width: 275px;
    margin-right: 9vw;
  }
}
.skills .boxTwo {
  width: 60vw;
  margin: auto;
  padding-top: 150px;
}
@media (min-width: 577px) and (max-width: 768px) {
  .skills .boxTwo {
    width: 80vw;
  }
}
.skills .boxTwo .skillsTitle {
  font-family: "HelveticaBold";
  font-size: 2rem;
  margin-bottom: 40px;
}
.skills .boxTwo .blocCompetences {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
@media (max-width: 576px) {
  .skills .boxTwo .blocCompetences {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}
.skills .boxTwo .blocCompetences .categ {
  width: 50%;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}
@media (max-width: 576px) {
  .skills .boxTwo .blocCompetences .categ {
    width: 100%;
  }
}
.skills .boxTwo .blocCompetences .categ .left {
  width: 20%;
  display: flex;
}
.skills .boxTwo .blocCompetences .categ .left .icon {
  color: black;
  background-color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
}
.skills .boxTwo .blocCompetences .categ .right {
  display: flex;
  flex-direction: column;
}
.skills .boxTwo .blocCompetences .categ .right .title {
  font-weight: bold;
  color: #d1f2f7;
  width: fit-content;
}
.skills .boxTwo .blocCompetences .categ .right .disappear {
  display: none;
}

.projects {
  background-color: white;
  height: 100vh;
}
@media (max-width: 576px) {
  .projects {
    height: 140vh;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .projects {
    height: 180vh;
  }
}
.projects .boxThree {
  width: 60vw;
  margin: auto;
}
@media (min-width: 577px) and (max-width: 768px) {
  .projects .boxThree {
    width: 80vw;
  }
}
.projects .boxThree .projectTitle {
  font-family: "HelveticaBold";
  font-size: 2rem;
  margin-bottom: 40px;
}
.projects .boxThree .projectsAll {
  width: 100%;
}
.projects .boxThree .projectsAll .projectOne {
  display: flex;
  width: 100%;
  margin-bottom: 3rem;
}
@media (max-width: 576px) {
  .projects .boxThree .projectsAll .projectOne {
    flex-direction: column;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .projects .boxThree .projectsAll .projectOne {
    flex-direction: column;
  }
}
.projects .boxThree .projectsAll .projectOne .left {
  width: 55%;
}
@media (max-width: 576px) {
  .projects .boxThree .projectsAll .projectOne .left {
    width: 100%;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .projects .boxThree .projectsAll .projectOne .left {
    width: 100%;
  }
}
.projects .boxThree .projectsAll .projectOne .left img {
  width: 100%;
  opacity: 1;
  border-radius: 10px;
}
.projects .boxThree .projectsAll .projectOne .left img:hover {
  opacity: 0.5;
}
.projects .boxThree .projectsAll .projectOne .right {
  width: 45%;
  margin-left: 1rem;
  line-height: 1.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 576px) {
  .projects .boxThree .projectsAll .projectOne .right {
    width: 100%;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .projects .boxThree .projectsAll .projectOne .right {
    width: 100%;
  }
}
.projects .boxThree .projectsAll .projectOne .right .subtitle {
  font-family: "HelveticaBold";
}
.projects .boxThree .projectsAll .projectOne .right .desc {
  font-size: smaller;
}

.contact {
  background-color: #d1f2f7;
  margin-top: -5px;
  display: flex;
  justify-content: center;
}
.contact .emailMe {
  background-color: #1a7c89;
  display: flex;
  justify-content: center;
  width: 200px;
  margin-bottom: 100px;
  border-radius: 100px;
  height: 200px;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
}
.contact .emailMe a {
  color: white;
}
.contact .bubble {
  background-color: #1a7c89;
  border-radius: 100%;
  position: absolute;
}
.contact .b1 {
  width: 70px;
  height: 70px;
  margin-top: -140px;
  margin-left: 230px;
}
@media (max-width: 576px) {
  .contact .b1 {
    margin-top: -55px;
    margin-left: 195px;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .contact .b1 {
    margin-top: -75px;
  }
}
.contact .b2 {
  width: 30px;
  height: 30px;
  margin-top: -205px;
  margin-left: 85px;
}
@media (max-width: 576px) {
  .contact .b2 {
    margin-top: -84px;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .contact .b2 {
    margin-top: -120px;
  }
}
.contact .b3 {
  width: 90px;
  height: 90px;
  margin-top: 156px;
  margin-right: 280px;
}
.contact .b4 {
  width: 50px;
  height: 50px;
  margin-top: 236px;
  margin-right: 125px;
}

/*# sourceMappingURL=style.css.map */
