body {
    background-color: white;
    font-family: $HelvLight;
    width: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: $bluegreen;
    text-decoration: none;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	outline: inherit;
    font-family: inherit;
    font-size: inherit;
}