.intro {
    width: 100%;
    background-color: $bglight;
    height: 120vh;

    .boxOne {
        width: 60vw;
        margin: auto;
        display: flex;
        justify-content: space-between;

        .textHead {
            margin-top: 35vh;

            h1 {
                font-family: $HelvBold;
                font-size: 5rem;
                color: $bluegreen;
            }

            h3 {
                font-family: $HelvLight;
                margin-top: -15px;
                margin-left: 5px;
            }

            .myLinks .fa-brands {
                font-size: 1.5rem;
                padding: 5px;

                &:hover {
                    color: $bghover;
                }
            }
        }

        .topImg #me {
            height: 80vh;
            margin-top: 10vh;
        }
    }

    .deco #wave1 {
        width: 214px;
        position: absolute;
        margin-left: 380px;
        margin-top: -143px;
    }

    .deco #wave2 {
        width: 350px;
        position: absolute;
        right: 0;
        margin-right: 50px;
        margin-top: -345px;
    }

    .deco #wave3 {
        width: 200px;
        opacity: 0.5;
        position: absolute;
        right: 0;
        margin-top: -290px;
        margin-right: 86px;
    }

    .deco #wave4 {
        width: 500px;
        opacity: 0.8;
        position: absolute;
        top: 0;
        margin-left: -10px;
        margin-top: 45px;
    }
}