.intro {
    width: 100%;
    background-color: $bglight;
    height: 120vh;

    .boxOne {
        width: 60vw;
        margin: auto;
        display: flex;
        justify-content: space-between;

        @include phone {
            flex-direction: column-reverse;
        }

        @include tablet {
            width: 80vw;
        }

        .textHead {
            margin-top: 35vh;

            @include phone {
                margin-top: 19vh;
            }

            @include tablet {
                margin-top: 30vh;
            }

            h1 {
                font-family: $HelvBold;
                font-size: 5rem;
                color: $bluegreen;
            }

            h3 {
                font-family: $HelvLight;
                margin-top: -15px;
                margin-left: 5px;

                @include phone {
                    font-size: 0.9rem;
                }
            }

            .myLinks .fa-brands {
                font-size: 1.5rem;
                padding: 5px;

                &:hover {
                    color: $bghover;
                }
            }
        }

        .topImg #me {
            margin-top: 10vh;
            width: 37rem;

            @include phone {
                margin-top: 15vh;
                width: 15rem;
            }

            @include tablet {
                margin-top: 19vh;
                width: 20rem;
            }
        }
    }

    .deco #wave1 {
        width: 214px;
        position: absolute;
        margin-left: 380px;
        margin-top: -143px;

        @include phone {
            display: none;
        }

        @include tablet {
            display: none;
        }
    }

    .deco #wave2 {
        width: 350px;
        position: absolute;
        right: 0;
        margin-right: 50px;
        margin-top: -345px;

        @include phone {
            margin-top: -270px;
        }

        @include tablet {
            margin-top: 20px;
        }
    }

    .deco #wave3 {
        width: 200px;
        opacity: 0.5;
        position: absolute;
        right: 0;
        margin-top: -290px;
        margin-right: 86px;

        @include phone {
            margin-top: -220px;
        }

        @include tablet {
            margin-top: 80px;
        }
    }

    .deco #wave4 {
        width: 500px;
        opacity: 0.8;
        position: absolute;
        top: 0;
        margin-left: -10px;
        margin-top: 45px;
    }
}