.projects {
    background-color: white;
    height: 100vh;

    @include phone {
        height: 140vh;
    }

    @include tablet {
        height: 180vh;
    }

    .boxThree {
        width: 60vw;
        margin: auto;

        @include tablet {
            width: 80vw;
        }

        .projectTitle {
            font-family: $HelvBold;
            font-size: 2rem;
            margin-bottom: 40px;
        }

        .projectsAll {
            width: 100%;

            .projectOne {
                display: flex;
                width: 100%;
                margin-bottom: 3rem;

                @include phone {
                    flex-direction: column;
                }

                @include tablet {
                    flex-direction: column;
                }

                .left {
                    width: 55%;

                    @include phone {
                        width: 100%;
                    }

                    @include tablet {
                        width: 100%;
                    }

                    img {
                        width: 100%;
                        opacity: 1;
                        border-radius: 10px;

                        &:hover {
                            opacity: 0.5;
                        }
                    }
                }

                .right {
                    width: 45%;
                    margin-left: 1rem;
                    line-height: 1.3rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    @include phone {
                        width: 100%;
                    }

                    @include tablet {
                        width: 100%;
                    }

                    .subtitle {
                        font-family: $HelvBold;
                    }

                    .desc {
                        font-size: smaller;
                    }
                }                
            }
        }
    }
}