/* ANIMATION */

.rollingwaves {
    @include keyframes(rollingwaves) {
        0% {
            transform: translateX(-70%);
        }
        100% {
            transform: translateX(0%);
        }
    }
}

/* IN BETWEEN */

.between {
    width: 100%;
    overflow-x: hidden;

    .waves {
        background-image: url(assets/wave.png);
        background-repeat: repeat-x;
        position: relative;
        height: 59px;
        width: 300%;
        animation: rollingwaves 1s linear;
        animation-delay: calc(var(--scroll) * -1s);
        animation-play-state: paused;
        animation-iteration-count: 1;
        animation-fill-mode: both;
    }
}

/* SKILLS PAGE */

.skills {
    background-color: $bluegreen;
    width: 100%;
    height: 100vh;
    color: white;

    .deco #wave5 {
        width: 428px;
        position: absolute;
        margin-top: 133px;
        margin-left: -135px;
    }

    .deco #wave6 {
        width: 200px;
        position: absolute;
        right: 0;
        margin-right: 34vw;
        margin-top: 82vh;
        opacity: 0.8;
    }

    .deco #wave7 {
        width: 350px;
        position: absolute;
        right: 0;
        margin-right: 19vw;
        margin-top: 88vh;
    }

    .boxTwo {
        width: 60vw;
        margin: auto;
        padding-top: 150px;

        .skillsTitle {
            font-family: $HelvBold;
            font-size: 2rem;
            margin-bottom: 40px;
        }

        .blocCompetences {
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            .categ {
                width: 50%;
                height: 100px;
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-bottom: 20px;

                .left {
                    width: 20%;
                    display: flex;

                    .icon {
                        color: black;
                        background-color: white;
                        border-radius: 50%;
                        width: 50px;
                        height: 50px;
                        text-align: center;
                        line-height: 50px;
                    }
                }

                .right {
                    display: flex;
                    flex-direction: column;

                    .title {
                        font-weight: bold;
                        color: $bglight;
                        width: fit-content;
                    }

                    .disappear {
                        display: none;
                    }
                }
            }
        }
    }
}
